.info, .info3/*For projects 2021-22*/ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 15% 20px 15%;
  height: 300px;
  padding: 0;
  background-color: transparent;
  /*box-shadow:0px 0px 4px 4px rgba(168, 168, 168, 0.688) ; border-radius: 8px;*/
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
}

.slider {
  height: 500px;

}

.info3/*For projects 2021-22*/{
<<<<<<< HEAD:src/smp/smp.css
  height: 700px;
  margin: 30px 12% 20px 12%;
=======
  height: 350px;
  margin: 10px 12% 20px 12%;
>>>>>>> 49584ad5caa29ad35b8703a51390e78f38bb6afd:src/smp/Project.css
  padding: 0 25px;
}
/*.info:hover{
    box-shadow:0px 0px 10px 10px rgba(168, 168, 168, 0.63) ;
    transition: 0.5s;
}*/
.img_info, .img_info3/*For projects 2021-22*/ {
<<<<<<< HEAD:src/smp/smp.css
  height: 500px;
  width: 500px;
=======
  height: 200px;
  width: 300px;
>>>>>>> 49584ad5caa29ad35b8703a51390e78f38bb6afd:src/smp/Project.css
  /*border-radius: 8px 0 0 8px;*/
  /*box-shadow:0px 0px 10px 10px rgba(168, 168, 168, 0.2) ;*/
  /*object-fit: contain;*/ 
}
.desc_info{
 padding: 20px 20px;
  text-align: center;

}
.desc_info > h1 {
  font-family: 'Montserrat', sans-serif;
  color: #203e91;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.desc_info > p {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  font-size: 14px;
  padding: 10px 0;
  color: white;
  font-weight: 500;
  margin-bottom: 0px;
}
.pp1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #203e91;
  padding: 30px;
  margin-bottom: -20px;
}
.pp2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: #90191b;
  padding: 30px;
  margin-bottom: -10px;
}

/*buttons in project2*/
.info-button{
  width:290px;
  margin: 0 auto;
  text-align: center;
}

.info-btn{
  background-color: #90191b;
  border: #90191b 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins';
  padding: 3px 20px 3px 20px;
  margin: 0px 12px 0px 12px;
}

.info-btn:hover{
  background-color: #8f3e40;
  border: #8f3e40 2px solid;
}
@media only screen and (max-width: 850px){
  .info{
    margin: 30px 5% 20px 5%;
  }
  .info3{
   display: flex;
   flex-direction: column;
   width: 80%;
   height: auto;
   margin: 30px auto;
   padding: 0;
  }
  .img_info3{/*For projects 2021-228*/
      margin: 20px 0;;
  }
}
@media only screen and (max-width: 625px){
  .info{
   display: flex;
   flex-direction: column;
   width: 80%;
   height: auto;
   margin: 30px auto;
  }

  .img_info, .img_info3{
    height: auto; width: 100%;
    border-radius: 8px;
  }
  .img_info3{ /*For projects 2021-22*/
    margin: 0;
  }
  .info-button{
    width: 55%;
    margin: 0px auto ;
  }
  .info-btn{ margin: 10px 0; }
  .pp1 { font-size: 5rem; }
  .pp2 { font-size: 4rem; }
}


