.garrett{
    width: 70%;
    margin: 0 15%;
}
.garrett h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.1rem;
  
    color: #203e91;
    margin-top:50px;
    text-align: center;
}

.garrett-info{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
}

.garrett-info p{
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px; 
    font-size: 1.7rem;
    font-weight: 600;
}
.garrett img{
    width: 100%;
}

@media only screen and (max-width:728px){
    .garrett-info{
        grid-template-columns: 100%;
    }
    .garrett-info p{
        order:2
    }
    .garrett img{
        order: 1;
        margin-top: 30px;
    }
}